<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bibe.crm.dao.CommentInfoMapper">
  <resultMap id="BaseResultMap" type="com.bibe.crm.entity.po.CommentInfo">
    <!--@mbg.generated-->
    <!--@Table comment_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="progress_id" jdbcType="INTEGER" property="progressId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, remarks, progress_id, user_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from comment_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from comment_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bibe.crm.entity.po.CommentInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into comment_info (remarks, progress_id, user_id, 
      create_time, update_time)
    values (#{remarks,jdbcType=VARCHAR}, #{progressId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bibe.crm.entity.po.CommentInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into comment_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="remarks != null">
        remarks,
      </if>
      <if test="progressId != null">
        progress_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="progressId != null">
        #{progressId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bibe.crm.entity.po.CommentInfo">
    <!--@mbg.generated-->
    update comment_info
    <set>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="progressId != null">
        progress_id = #{progressId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bibe.crm.entity.po.CommentInfo">
    <!--@mbg.generated-->
    update comment_info
    set remarks = #{remarks,jdbcType=VARCHAR},
      progress_id = #{progressId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-08-17-->
  <select id="findAllByProgressId" resultType="java.util.Map">
        select
     t1.id as id , t1.remarks as remarks, t1.user_id as userId, t1.create_time as createTime
    from comment_info t1 LEFT JOIN users  t2 ON t1.user_id=t2.id
    where progress_id=#{progressId,jdbcType=INTEGER}
    </select>
</mapper>