<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bibe.crm.dao.CustomerGroupDepartmentRelationMapper">
  <resultMap id="BaseResultMap" type="com.bibe.crm.entity.po.CustomerGroupDepartmentRelation">
    <!--@mbg.generated-->
    <!--@Table customer_group_department_relation-->
    <result column="customer_group_id" jdbcType="INTEGER" property="customerGroupId" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    customer_group_id, dept_id
  </sql>
  <insert id="insert" parameterType="com.bibe.crm.entity.po.CustomerGroupDepartmentRelation">
    <!--@mbg.generated-->
    insert into customer_group_department_relation (customer_group_id, dept_id)
    values (#{customerGroupId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bibe.crm.entity.po.CustomerGroupDepartmentRelation">
    <!--@mbg.generated-->
    insert into customer_group_department_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerGroupId != null">
        customer_group_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerGroupId != null">
        #{customerGroupId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-08-08-->
  <insert id="insertList">
        INSERT INTO customer_group_department_relation(
        customer_group_id,
        dept_id
        )VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (
            #{element.customerGroupId,jdbcType=INTEGER},
            #{element.deptId,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

<!--auto generated by MybatisCodeHelper on 2020-08-08-->
  <delete id="deleteByCustomerGroupId">
        delete from customer_group_department_relation
        where customer_group_id=#{customerGroupId,jdbcType=INTEGER}
    </delete>

<!--auto generated by MybatisCodeHelper on 2020-08-08-->
  <select id="findCountByDeptId" resultType="java.lang.Integer">
        select
        count(1)
        from customer_group_department_relation
        where dept_id=#{deptId,jdbcType=INTEGER}
    </select>
  <select id="findCountByCustomerGroupId" resultType="java.lang.Integer">
        select
        count(1)
        from customer_group_department_relation
        where dept_id=#{customerGroupId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-08-08-->
  <select id="findAllByCustomerGroupId" resultType="java.util.Map">
      select DISTINCT t2.id,t2.name  from customer_group_department_relation t1 left join department t2 on t1.dept_id=t2.id
        where t1.customer_group_id=#{customerGroupId,jdbcType=INTEGER}
    </select>

    <select id="findDeptNamesByGroupId"  resultType="java.lang.String">
         select group_concat(z.name) as deptNames
        from department z
        where z.id in (select q.dept_id
        from customer_group_department_relation q
        where q.customer_group_id =#{customerGroupId} )
    </select>

<!--auto generated by MybatisCodeHelper on 2020-08-09-->
  <select id="findCustomerGroupIdByDeptId" resultType="java.lang.Integer">
        select customer_group_id
        from customer_group_department_relation
        where dept_id=#{deptId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-08-28-->
  <select id="getUserIds" resultType="java.lang.Integer">
      SELECT distinct id
      FROM users where dept_id IN(
      SELECT id
      FROM department
      WHERE id IN(
      SELECT dept_id
      FROM customer_group_department_relation
      WHERE customer_group_id=#{customerGroupId,jdbcType=INTEGER}))
    </select>

<!--auto generated by MybatisCodeHelper on 2020-09-29-->
  <delete id="deleteByDeptId">
        delete from customer_group_department_relation
        where dept_id=#{deptId,jdbcType=INTEGER}
    </delete>
</mapper>