<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bibe.crm.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.bibe.crm.entity.po.Customer">
    <!--@mbg.generated-->
    <!--@Table customer-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="intention" jdbcType="INTEGER" property="intention" />
    <result column="progress_num" jdbcType="INTEGER" property="progressNum" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="customer_type" jdbcType="INTEGER" property="customerType" />
    <result column="use_type" jdbcType="INTEGER" property="useType" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="files_id" jdbcType="VARCHAR" property="filesId" />
    <result column="change_time" jdbcType="TIMESTAMP" property="changeTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, industry, user_id, group_id, area_id, intention, progress_num, `type`, 
    customer_type, use_type, address, remarks, `status`, files_id, change_time, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bibe.crm.entity.po.Customer" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customer (`name`, industry, user_id, 
      group_id, area_id, intention, 
      progress_num, `type`, customer_type, 
      use_type, address, remarks, 
      `status`, files_id, change_time, 
      create_time, update_time)
    values (#{name,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{groupId,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}, #{intention,jdbcType=INTEGER}, 
      #{progressNum,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{customerType,jdbcType=INTEGER}, 
      #{useType,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{filesId,jdbcType=VARCHAR}, #{changeTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bibe.crm.entity.po.Customer" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="intention != null">
        intention,
      </if>
      <if test="progressNum != null">
        progress_num,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="customerType != null">
        customer_type,
      </if>
      <if test="useType != null">
        use_type,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="filesId != null">
        files_id,
      </if>
      <if test="changeTime != null">
        change_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="intention != null">
        #{intention,jdbcType=INTEGER},
      </if>
      <if test="progressNum != null">
        #{progressNum,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=INTEGER},
      </if>
      <if test="useType != null">
        #{useType,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="filesId != null">
        #{filesId,jdbcType=VARCHAR},
      </if>
      <if test="changeTime != null">
        #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bibe.crm.entity.po.Customer">
    <!--@mbg.generated-->
    update customer
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="intention != null">
        intention = #{intention,jdbcType=INTEGER},
      </if>
      <if test="progressNum != null">
        progress_num = #{progressNum,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="customerType != null">
        customer_type = #{customerType,jdbcType=INTEGER},
      </if>
      <if test="useType != null">
        use_type = #{useType,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="filesId != null">
        files_id = #{filesId,jdbcType=VARCHAR},
      </if>
      <if test="changeTime != null">
        change_time = #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bibe.crm.entity.po.Customer">
    <!--@mbg.generated-->
    update customer
    set `name` = #{name,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      intention = #{intention,jdbcType=INTEGER},
      progress_num = #{progressNum,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      customer_type = #{customerType,jdbcType=INTEGER},
      use_type = #{useType,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      files_id = #{filesId,jdbcType=VARCHAR},
      change_time = #{changeTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCountByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
     select  count(1) from  customer where user_id=#{userId}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-08-02-->
  <update id="updateByIdIn">
    update customer
    <set>
      <if test="updated.name != null">
        name = #{updated.name,jdbcType=VARCHAR},
      </if>
      <if test="updated.industry != null">
        industry = #{updated.industry,jdbcType=VARCHAR},
      </if>
      <if test="updated.userId != null">
        user_id = #{updated.userId,jdbcType=INTEGER},
      </if>
      <if test="updated.groupId != null">
        group_id = #{updated.groupId,jdbcType=INTEGER},
      </if>
      <if test="updated.areaId != null">
        area_id = #{updated.areaId,jdbcType=INTEGER},
      </if>
      <if test="updated.intention != null">
        intention = #{updated.intention,jdbcType=INTEGER},
      </if>
      <if test="updated.progressNum != null">
        progress_num = #{updated.progressNum,jdbcType=INTEGER},
      </if>
      <if test="updated.type != null">
        type = #{updated.type,jdbcType=INTEGER},
      </if>
      <if test="updated.customerType != null">
        customer_type = #{updated.customerType,jdbcType=INTEGER},
      </if>
      <if test="updated.address != null">
        address = #{updated.address,jdbcType=VARCHAR},
      </if>
      <if test="updated.remarks != null">
        remarks = #{updated.remarks,jdbcType=VARCHAR},
      </if>
      <if test="updated.status != null">
        status = #{updated.status,jdbcType=INTEGER},
      </if>
      <if test="updated.filesId != null">
        files_id = #{updated.filesId,jdbcType=VARCHAR},
      </if>
      <if test="updated.useType != null">
        use_type = #{updated.useType,jdbcType=INTEGER},
      </if>
      <if test="updated.createTime != null">
        create_time = #{updated.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updated.updateTime != null">
        update_time = #{updated.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id in
    <foreach close=")" collection="idCollection" index="index" item="item" open="(" separator=",">
      #{item,jdbcType=INTEGER}
    </foreach>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-08-02-->
  <update id="updateStatusByIdIn">
    update customer
    set `status`= 1
    where id in
    <foreach close=")" collection="ids" index="index" item="item" open="(" separator=",">
      #{item,jdbcType=INTEGER}
    </foreach>
  </update>

  <select id="pageList" resultType="com.bibe.crm.entity.vo.CustomerVO">
    SELECT distinct t1.id,t1.user_id as userId,t1.name,t3.name AS areaName,t1.intention,t1.`type`,t1.customer_type AS customerType,t4.name AS userName,t1.use_type as useType,t1.progress_num AS progressNum,t1.create_time as createTime
    FROM customer t1
    LEFT JOIN customer_contact t2 ON t1.id=t2.customer_id
    LEFT JOIN `area` t3 ON t1.area_id=t3.Id
    LEFT JOIN users t4 ON t1.user_id=t4.id
    LEFT JOIN customer_progress t5 ON t1.id=t5.customer_id
    where t1.status=0
    <if test="param1.nextDate != null and param1.nextDate != ''">
      and t5.next_time=#{param1.nextDate}
    </if>
    <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != ''">
      and t1.create_time between #{param1.startDate} and #{param1.endDate}
    </if>
    <if test="param1.lastDate != null and param1.lastDate != ''">
      and t1.lats_time= #{param1.lastDate}
    </if>
    <if test="param1.progressNum != null">
      and t1.progress_num=#{param1.progressNum}
    </if>
    <if test="param1.phone != null and param1.phone != ''">
      and t2.phone=#{param1.phone}
    </if>
    <if test="param1.intention!=null ">
      and t1.intention=#{param1.intention}
    </if>
    <if test="param1.type != null">
      and t1.type=#{param1.type}
    </if>
    <if test="param1.areaId != null">
      and t3.id=#{param1.areaId}
    </if>
    <if test="param1.name != null and param1.name != ''">
      and t1.name like concat('%',#{param1.name},'%')
    </if>
    <if test="param1.useType != null ">
      and t1.use_type = #{param1.useType}
    </if>
    <if test="userIds != null and userIds.size() != 0">
      and t1.user_id in
      <foreach close=")" collection="userIds" index="index" item="item" open="(" separator=",">
        #{item,jdbcType=INTEGER}
      </foreach>
    </if>
    order by t1.create_time desc
  </select>



  <select id="myPageList" resultType="com.bibe.crm.entity.vo.CustomerVO">
    SELECT distinct t1.id,t1.user_id as userId,t1.name,t3.name AS areaName,t1.intention,t1.`type`,t1.customer_type AS customerType,t4.name AS userName,t1.use_type as useType,t1.progress_num AS progressNum,t1.create_time as createTime
    FROM customer t1
    LEFT JOIN customer_contact t2 ON t1.id=t2.customer_id
    LEFT JOIN `area` t3 ON t1.area_id=t3.Id
    LEFT JOIN users t4 ON t1.user_id=t4.id
    LEFT JOIN customer_progress t5 ON t1.id=t5.customer_id
    where t1.status=0 and t1.user_id=#{userId}
    <if test="param1.nextDate != null and param1.nextDate != ''">
      and t5.next_time=#{param1.nextDate}
    </if>
    <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != ''">
      and t1.create_time between #{param1.startDate} and #{param1.endDate}
    </if>
    <if test="param1.lastDate != null and param1.lastDate != ''">
      and t1.lats_time= #{param1.lastDate}
    </if>
    <if test="param1.progressNum != null">
      and t1.progress_num=#{param1.progressNum}
    </if>
    <if test="param1.phone != null and param1.phone != ''">
      and t2.phone=#{param1.phone}
    </if>
    <if test="param1.intention!=null ">
      and t1.intention=#{param1.intention}
    </if>
    <if test="param1.type != null">
      and t1.type=#{param1.type}
    </if>
    <if test="param1.areaId != null">
      and t3.id=#{param1.areaId}
    </if>
    <if test="param1.name != null and param1.name != ''">
      and t1.name like concat('%',#{param1.name},'%')
    </if>
    <if test="param1.useType != null ">
      and t1.use_type = #{param1.useType}
    </if>
    order by t1.create_time desc
  </select>

  <select id="customerGroupPageList" resultType="com.bibe.crm.entity.vo.PublicCustomerVO">
    SELECT distinct t1.id,t1.user_id as userId,t1.name,t3.name AS areaName,t1.change_time as changeTime ,t1.intention,t1.`type`,t1.customer_type AS customerType,t4.name AS userName,t1.use_type as useType,t1.progress_num AS progressNum,t1.create_time as createTime
    FROM customer t1
    LEFT JOIN customer_contact t2 ON t1.id=t2.customer_id
    LEFT JOIN `area` t3 ON t1.area_id=t3.Id
    LEFT JOIN users t4 ON t1.user_id=t4.id
    LEFT JOIN customer_progress t5 ON t1.id=t5.customer_id
    where t1.status=0 and t1.customer_type=1
    <if test="param1.changeTime != null and param1.changeTime != ''">
      and t1.change_time=#{param1.changeTime}
    </if>
    <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != ''">
      and t1.create_time between #{param1.startDate} and #{param1.endDate}
    </if>
    <if test="param1.lastDate != null and param1.lastDate != ''">
      and t1.lats_time= #{param1.lastDate}
    </if>
    <if test="param1.progressNum != null">
      and t1.progress_num=#{param1.progressNum}
    </if>
    <if test="param1.phone != null and param1.phone != ''">
      and t2.phone=#{param1.phone}
    </if>
    <if test="param1.intention!=null ">
      and t1.intention=#{param1.intention}
    </if>
    <if test="param1.type != null">
      and t1.type=#{param1.type}
    </if>
    <if test="param1.areaId != null">
      and t3.id=#{param1.areaId}
    </if>
    <if test="param1.name != null and param1.name != ''">
      and t1.name like concat('%',#{param1.name},'%')
    </if>
    <if test="param1.useType != null ">
      and t1.use_type = #{param1.useType}
    </if>
    <if test="param1.groupIds != null and param1.groupIds.size() != 0">
      and t1.group_id in
      <foreach close=")" collection="param1.groupIds" index="index" item="item" open="(" separator=",">
        #{item,jdbcType=INTEGER}
      </foreach>
    </if>
    order by t1.create_time desc
  </select>

<!--auto generated by MybatisCodeHelper on 2020-08-10-->
  <update id="updateUserIdAndGroupIdByIdIn">
    update customer
    <set>
      <if test="updatedUserId != null">
        user_id = #{updatedUserId,jdbcType=INTEGER},customer_type=0
      </if>
      <if test="updatedGroupId != null">
        group_id = #{updatedGroupId,jdbcType=INTEGER},customer_type=1
      </if>
    </set>
    where id in
    <foreach close=")" collection="idCollection" index="index" item="item" open="(" separator=",">
      #{item,jdbcType=INTEGER}
    </foreach>
  </update>

  <select id="findLikeName" resultType="java.util.Map">
    select `name`,id from  customer where `name` like concat('%',#{name},'%')
  </select>


  <select id="countCustomerByYear" resultType="com.bibe.crm.entity.vo.CountDayVO">
    <!--新增客户-->
    <if test="flag eq '1'.toString() ">
      SELECT DATE_FORMAT(create_time, "%Y") AS `date`, COUNT(1) as `count` FROM customer where status=0
      <if test="userIds != null and userIds.size() != 0">
        and user_id in
        <foreach close=")" collection="userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      GROUP BY DATE_FORMAT(create_time, "%Y")
    </if>

    <!--联系跟进-->
    <if test="flag eq '2'.toString() ">
      select DATE_FORMAT(create_time, "%Y") AS `date`, COUNT(1) as `count` from customer_progress
      <if test="userIds != null and userIds.size() != 0">
        where user_id in
        <foreach close=")" collection="userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      GROUP BY DATE_FORMAT(create_time, "%Y")
    </if>

    <!--跟进客户-->
    <if test="flag eq '3'.toString() ">
      SELECT DATE_FORMAT(create_time, "%Y") AS `date`, COUNT(1) as `count` FROM customer where id in (select distinct customer_id from customer_progress ) and status=0
      <if test="userIds != null and userIds.size() != 0">
        and  user_id in
        <foreach close=")" collection="userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      GROUP BY DATE_FORMAT(create_time, "%Y")
    </if>

  </select>

  <select id="countCustomerByMonth" resultType="com.bibe.crm.entity.vo.CountDayVO">
    <!--新增客户-->
    <if test="flag eq '1'.toString() ">
      SELECT DATE_FORMAT(create_time, "%Y-%m") AS `date` ,COUNT(1) as `count` FROM customer where DATE_FORMAT(create_time,"%Y")=#{year} and status=0
      <if test="userIds != null and userIds.size() != 0">
        and  user_id in
        <foreach close=")" collection="userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      GROUP BY DATE_FORMAT(create_time, "%Y-%m")
    </if>
    <!--联系跟进-->
    <if test="flag eq '2'.toString() ">
      select DATE_FORMAT(create_time, "%Y-%m") AS `date`, COUNT(1) as `count` from customer_progress where DATE_FORMAT(create_time,"%Y")=#{year}
      <if test="userIds != null and userIds.size() != 0">
        and  user_id in
        <foreach close=")" collection="userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      GROUP BY DATE_FORMAT(create_time, "%Y-%m")
    </if>

    <!--跟进客户-->
    <if test="flag eq '3'.toString() ">
      SELECT DATE_FORMAT(create_time, "%Y-%m") AS `date`, COUNT(1) as `count` FROM customer where id in (select distinct customer_id from customer_progress ) and DATE_FORMAT(create_time,"%Y")=#{year} and status=0
      <if test="userIds != null and userIds.size() != 0">
        and  user_id in
        <foreach close=")" collection="userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      GROUP BY DATE_FORMAT(create_time, "%Y")

    </if>
  </select>

  <select id="countCustomerByDay" resultType="com.bibe.crm.entity.vo.CountDayVO">
    <!--新增客户-->
    <if test="flag eq '1'.toString() ">
      SELECT DATE_FORMAT(create_time, "%Y-%m-%d") AS `date`, COUNT(1) as `count` FROM customer  where DATE_FORMAT(create_time, "%Y-%m")=#{month} and status=0
      <if test="userIds != null and userIds.size() != 0">
        and  user_id in
        <foreach close=")" collection="userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      GROUP BY DATE_FORMAT(create_time, "%Y-%m-%d")
    </if>
    <!--联系跟进-->
    <if test="flag eq '2'.toString() ">
      select DATE_FORMAT(create_time, "%Y-%m-%d") AS `date`, COUNT(1) as `count` from customer_progress where DATE_FORMAT(create_time,"%Y-%m")=#{month}
      <if test="userIds != null and userIds.size() != 0">
        and  user_id in
        <foreach close=")" collection="userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      GROUP BY DATE_FORMAT(create_time, "%Y-%m-%d")
    </if>

    <!--跟进客户-->
    <if test="flag eq '3'.toString() ">
      SELECT DATE_FORMAT(create_time, "%Y-%m-%d") AS `date`, COUNT(1) as `count` FROM customer where id in (select distinct customer_id from customer_progress ) and DATE_FORMAT(create_time,"%Y-%m")=#{month} and status=0
      <if test="userIds != null and userIds.size() != 0">
        and  user_id in
        <foreach close=")" collection="userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      GROUP BY DATE_FORMAT(create_time, "%Y-%m-%d")
    </if>
  </select>

  <select id="countCustomerBySort1" resultType="com.bibe.crm.entity.vo.CountSortVO">
    <!--新增客户-->
    <if test="dto.flag eq '1'.toString() ">
    SELECT 1 as flag,t2.name, COUNT(t1.id) AS `count`
    FROM customer t1
    LEFT JOIN `area` t2 ON t1.area_id=t2.id  where  t1.status=0
      <if test="dto.userIds != null and dto.userIds.size() != 0">
        and  t1.user_id in
        <foreach close=")" collection="dto.userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != '' ">
        and t1.create_time between #{param1.startDate} and #{param1.endDate}
      </if>
    GROUP BY t1.area_id
    </if>
    <!--联系跟进-->
    <if test="dto.flag eq '2'.toString() ">
      SELECT 1 as flag,t2.name, COUNT(t1.id) AS `count`
      FROM  customer_progress t3 left join customer t1 on  t3.customer_id=t1.id
      LEFT JOIN `area` t2 ON t1.area_id=t2.id  where t1.status=0
      <if test="dto.userIds != null and dto.userIds.size() != 0">
        and  t1.user_id in
        <foreach close=")" collection="dto.userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != '' ">
        and t1.create_time between #{param1.startDate} and #{param1.endDate}
      </if>
      GROUP BY t1.area_id
    </if>

    <!--跟进客户-->
    <if test="dto.flag eq '3'.toString() ">
      SELECT 1 as flag,t2.name, COUNT(t1.id) AS `count`
      FROM customer t1
      LEFT JOIN `area` t2 ON t1.area_id=t2.id
      where t1.id in (select distinct customer_id from customer_progress)
      and t1.status=0
      <if test="dto.userIds != null and dto.userIds.size() != 0">
        and  t1.user_id in
        <foreach close=")" collection="dto.userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != '' ">
        and t1.create_time between #{param1.startDate} and #{param1.endDate}
      </if>
      GROUP BY t1.area_id
    </if>
  </select>



  <select id="countCustomerBySort2" resultType="com.bibe.crm.entity.vo.CountSortVO">
    <!--新增客户-->
    <if test="dto.flag eq '1'.toString() ">
      SELECT 2 as flag,t1.industry as name, COUNT(t1.id) AS `count`
      FROM customer t1  where t1.status=0
      <if test="dto.userIds != null and dto.userIds.size() != 0">
        and  t1.user_id in
        <foreach close=")" collection="dto.userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != '' ">
        and t1.create_time between #{param1.startDate} and #{param1.endDate}
      </if>
      GROUP BY t1.industry
    </if>
    <!--联系跟进-->
    <if test="dto.flag eq '2'.toString() ">
      SELECT 2 as flag,t1.industry as name, COUNT(t1.id) AS `count`
      FROM  customer_progress t3 left join customer t1 on  t3.customer_id=t1.id  where t1.status=0
      <if test="dto.userIds != null and dto.userIds.size() != 0">
        and  t1.user_id in
        <foreach close=")" collection="dto.userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != '' ">
        and t1.create_time between #{param1.startDate} and #{param1.endDate}
      </if>
      GROUP BY t1.industry
    </if>

    <!--跟进客户-->
    <if test="dto.flag eq '3'.toString() ">
      SELECT 2 as flag,t1.industry as name, COUNT(t1.id) AS `count`
      FROM customer t1
      where t1.id in (select distinct customer_id from customer_progress)
      and t1.status=0
      <if test="dto.userIds != null and dto.userIds.size() != 0">
        and  t1.user_id in
        <foreach close=")" collection="dto.userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != '' ">
        and t1.create_time between #{param1.startDate} and #{param1.endDate}
      </if>
      GROUP BY t1.industry
    </if>
  </select>


  <select id="countCustomerBySort3" resultType="com.bibe.crm.entity.vo.CountSortVO">
    <!--新增客户-->
    <if test="dto.flag eq '1'.toString() ">
      SELECT 3 as flag,
      case t1.intention
      when 0 then '成交客户'
      when 1 then 'A+'
      when 2 then 'A-'
      when 3 then 'B+'
      when 4 then 'B-'
      when 5 then 'C+'
      when 6 then 'D+'
      when 7 then 'E'  end as `name`, COUNT(t1.id) AS `count`
      FROM customer t1  where  t1.status=0
      <if test="dto.userIds != null and dto.userIds.size() != 0">
        and  t1.user_id in
        <foreach close=")" collection="dto.userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != '' ">
        and t1.create_time between #{param1.startDate} and #{param1.endDate}
      </if>
      GROUP BY t1.intention
    </if>
    <!--联系跟进-->
    <if test="dto.flag eq '2'.toString() ">
      SELECT 3 as flag,
      case t1.intention
      when 0 then '成交客户'
      when 1 then 'A+'
      when 2 then 'A-'
      when 3 then 'B+'
      when 4 then 'B-'
      when 5 then 'C+'
      when 6 then 'D+'
      when 7 then 'E'  end as `name`, COUNT(t1.id) AS `count`
      FROM  customer_progress t3 left join customer t1 on  t3.customer_id=t1.id where t1.status=0
      <if test="dto.userIds != null and dto.userIds.size() != 0">
        and  t1.user_id in
        <foreach close=")" collection="dto.userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != '' ">
        and t1.create_time between #{param1.startDate} and #{param1.endDate}
      </if>
      GROUP BY t1.industry
    </if>

    <!--跟进客户-->
    <if test="dto.flag eq '3'.toString() ">
      SELECT 3 as flag,
      case t1.intention
      when 0 then '成交客户'
      when 1 then 'A+'
      when 2 then 'A-'
      when 3 then 'B+'
      when 4 then 'B-'
      when 5 then 'C+'
      when 6 then 'D+'
      when 7 then 'E'  end as `name`,COUNT(t1.id) AS `count`
      FROM customer t1
      where t1.id in (select distinct customer_id from customer_progress)
      and t1.status=0
      <if test="dto.userIds != null and dto.userIds.size() != 0">
        and  t1.user_id in
        <foreach close=")" collection="dto.userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != '' ">
        and t1.create_time between #{param1.startDate} and #{param1.endDate}
      </if>
      GROUP BY t1.intention
    </if>

  </select>


  <select id="countCustomerBySort4" resultType="com.bibe.crm.entity.vo.CountSortVO">
    <!--新增客户-->
    <if test="dto.flag eq '1'.toString() ">
      SELECT 4 as flag,
      case t1.`type`
      when 0 then '代理商'
      when 1 then '直客'
      when 2 then '采购方'  end as name, COUNT(t1.id) AS `count`
      FROM customer t1  where  t1.status=0
      <if test="dto.userIds != null and dto.userIds.size() != 0">
        and  t1.user_id in
        <foreach close=")" collection="dto.userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != '' ">
        and t1.create_time between #{param1.startDate} and #{param1.endDate}
      </if>
      GROUP BY t1.`type`
    </if>
    <!--联系跟进-->
    <if test="dto.flag eq '2'.toString() ">
      SELECT 4 as flag,
      case t1.`type`
      when 0 then '代理商'
      when 1 then '直客'
      when 2 then '采购方'  end as name, COUNT(t1.id) AS `count`
      FROM  customer_progress t3 left join customer t1 on  t3.customer_id=t1.id where t1.status=0
      <if test="dto.userIds != null and dto.userIds.size() != 0">
        and  t1.user_id in
        <foreach close=")" collection="dto.userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != '' ">
        and t1.create_time between #{param1.startDate} and #{param1.endDate}
      </if>
      GROUP BY t1.type
    </if>

    <!--跟进客户-->
    <if test="dto.flag eq '3'.toString() ">
      SELECT 4 as flag,
      case t1.`type`
      when 0 then '代理商'
      when 1 then '直客'
      when 2 then '采购方'  end as name,COUNT(t1.id) AS `count`
      FROM customer t1
      where t1.id in (select distinct customer_id from customer_progress)
      and t1.status=0
      <if test="dto.userIds != null and dto.userIds.size() != 0">
        and  t1.user_id in
        <foreach close=")" collection="dto.userIds" index="index" item="item" open="(" separator=",">
          #{item,jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="param1.startDate != null and param1.startDate != '' and param1.endDate != null and param1.endDate != '' ">
        and t1.create_time between #{param1.startDate} and #{param1.endDate}
      </if>
      GROUP BY t1.type
    </if>

  </select>

<!--auto generated by MybatisCodeHelper on 2020-08-27-->
  <update id="updateProgressNumById">
        update customer
        set progress_num=progress_num+1
        where id=#{id,jdbcType=INTEGER}
    </update>

<!--auto generated by MybatisCodeHelper on 2020-08-28-->
  <select id="findAllByGroupId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from customer
    where group_id=0
    and DATE_FORMAT(create_time,'%Y-%m-%d') =#{date}
    and status=0
    and customer_type=0
    <if test="userIds != null and userIds.size() != 0">
      and  user_id in
      <foreach close=")" collection="userIds" index="index" item="item" open="(" separator=",">
        #{item,jdbcType=INTEGER}
      </foreach>
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-08-28-->
  <update id="updateGroupIdById">
    update customer
    set group_id=#{updatedGroupId,jdbcType=INTEGER}
    where id=#{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-09-01-->
  <select id="findUserIdByIdIn" resultType="java.lang.Integer">
    select user_id
    from customer
    where id in
    <foreach item="item" index="index" collection="idCollection"
             open="(" separator="," close=")">
      #{item,jdbcType=INTEGER}
    </foreach>
  </select>


</mapper>