<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bibe.crm.dao.CustomerProgressMapper">
  <resultMap id="BaseResultMap" type="com.bibe.crm.entity.po.CustomerProgress">
    <!--@mbg.generated-->
    <!--@Table customer_progress-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="contact_type" jdbcType="VARCHAR" property="contactType" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="speak_time" jdbcType="INTEGER" property="speakTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="satisfied" jdbcType="INTEGER" property="satisfied" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="next_time" jdbcType="TIMESTAMP" property="nextTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, customer_id, `name`, contact_type, `position`, speak_time, remarks, satisfied, 
    user_id, next_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from customer_progress
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from customer_progress
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bibe.crm.entity.po.CustomerProgress" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customer_progress (customer_id, `name`, contact_type, 
      `position`, speak_time, remarks, 
      satisfied, user_id, next_time, 
      create_time, update_time)
    values (#{customerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{contactType,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{speakTime,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{satisfied,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{nextTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bibe.crm.entity.po.CustomerProgress" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customer_progress
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="contactType != null">
        contact_type,
      </if>
      <if test="position != null">
        `position`,
      </if>
      <if test="speakTime != null">
        speak_time,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="satisfied != null">
        satisfied,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="nextTime != null">
        next_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="contactType != null">
        #{contactType,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="speakTime != null">
        #{speakTime,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="satisfied != null">
        #{satisfied,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="nextTime != null">
        #{nextTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bibe.crm.entity.po.CustomerProgress">
    <!--@mbg.generated-->
    update customer_progress
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="contactType != null">
        contact_type = #{contactType,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        `position` = #{position,jdbcType=VARCHAR},
      </if>
      <if test="speakTime != null">
        speak_time = #{speakTime,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="satisfied != null">
        satisfied = #{satisfied,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="nextTime != null">
        next_time = #{nextTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bibe.crm.entity.po.CustomerProgress">
    <!--@mbg.generated-->
    update customer_progress
    set customer_id = #{customerId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      contact_type = #{contactType,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=VARCHAR},
      speak_time = #{speakTime,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      satisfied = #{satisfied,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      next_time = #{nextTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>