<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bibe.crm.dao.CustomerProgressMapper">
  <resultMap id="BaseResultMap" type="com.bibe.crm.entity.po.CustomerProgress">
    <!--@mbg.generated-->
    <!--@Table customer_progress-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="contact_id" jdbcType="INTEGER" property="contactId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="contact_type" jdbcType="VARCHAR" property="contactType" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="speak_time" jdbcType="INTEGER" property="speakTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="satisfied" jdbcType="INTEGER" property="satisfied" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="files_id" jdbcType="VARCHAR" property="filesId" />
    <result column="appoint_user_id" jdbcType="INTEGER" property="appointUserId" />
    <result column="next_time" jdbcType="TIMESTAMP" property="nextTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, customer_id, contact_id, `name`, contact_type, `position`, speak_time, remarks, 
    satisfied, user_id, files_id, appoint_user_id, next_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from customer_progress
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from customer_progress
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bibe.crm.entity.po.CustomerProgress" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customer_progress (customer_id, contact_id, `name`, 
      contact_type, `position`, speak_time, 
      remarks, satisfied, user_id, 
      files_id, appoint_user_id, next_time, 
      create_time, update_time)
    values (#{customerId,jdbcType=INTEGER}, #{contactId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{contactType,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{speakTime,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{satisfied,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{filesId,jdbcType=VARCHAR}, #{appointUserId,jdbcType=INTEGER}, #{nextTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bibe.crm.entity.po.CustomerProgress" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customer_progress
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="contactId != null">
        contact_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="contactType != null">
        contact_type,
      </if>
      <if test="position != null">
        `position`,
      </if>
      <if test="speakTime != null">
        speak_time,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="satisfied != null">
        satisfied,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="filesId != null">
        files_id,
      </if>
      <if test="appointUserId != null">
        appoint_user_id,
      </if>
      <if test="nextTime != null">
        next_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="contactId != null">
        #{contactId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="contactType != null">
        #{contactType,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="speakTime != null">
        #{speakTime,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="satisfied != null">
        #{satisfied,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="filesId != null">
        #{filesId,jdbcType=VARCHAR},
      </if>
      <if test="appointUserId != null">
        #{appointUserId,jdbcType=INTEGER},
      </if>
      <if test="nextTime != null">
        #{nextTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bibe.crm.entity.po.CustomerProgress">
    <!--@mbg.generated-->
    update customer_progress
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="contactId != null">
        contact_id = #{contactId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="contactType != null">
        contact_type = #{contactType,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        `position` = #{position,jdbcType=VARCHAR},
      </if>
      <if test="speakTime != null">
        speak_time = #{speakTime,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="satisfied != null">
        satisfied = #{satisfied,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="filesId != null">
        files_id = #{filesId,jdbcType=VARCHAR},
      </if>
      <if test="appointUserId != null">
        appoint_user_id = #{appointUserId,jdbcType=INTEGER},
      </if>
      <if test="nextTime != null">
        next_time = #{nextTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bibe.crm.entity.po.CustomerProgress">
    <!--@mbg.generated-->
    update customer_progress
    set customer_id = #{customerId,jdbcType=INTEGER},
      contact_id = #{contactId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      contact_type = #{contactType,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=VARCHAR},
      speak_time = #{speakTime,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      satisfied = #{satisfied,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      files_id = #{filesId,jdbcType=VARCHAR},
      appoint_user_id = #{appointUserId,jdbcType=INTEGER},
      next_time = #{nextTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findNewInfo" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from  customer_progress where create_time=(select max(create_time) from customer_progress where customer_id=#{customerId} ) limit 1
  </select>

  <select id="show" parameterType="java.lang.Integer" resultType="java.util.Map">
select t1.id as id,t2.id as customerId,t1.contact_id as contactId ,t1.name as name,t2.create_time as createTime,t2.name as customerName,t3.name as userName,t1.contact_type as contactType,t1.position as position,t1.create_time as progressTime,
t1.speak_time as speakTime ,t1.remarks as remarks , t1.satisfied as satisfied,t1.next_time as nextTime ,t1.appoint_user_id as appointUserId ,t1.files_id as filesId
from customer_progress t1 left join customer t2 on t1.customer_id=t2.id
left join users t3 on t2.user_id=t3.id
where t1.id=#{id}
  </select>

  <!--负责人、跟进时间、沟通时长、联系人、客户名称、跟进结果-->
  <select id="pageList" resultType="com.bibe.crm.entity.vo.ProgressVO">
    select t1.id as id, t1.name as contactName,t1.contact_id as contactId,t2.name as customerName,t3.name as userName,t1.contact_type as contactType,t1.create_time as progressTime,
    t1.speak_time as speakTime ,t1.remarks as remarks , t1.satisfied as satisfied,t2.user_id as userId,t2.group_id as groupId,t2.customer_type as customerType
    from customer_progress t1 left join customer t2 on t1.customer_id=t2.id
    left join users t3 on t1.user_id=t3.id  where t2.status=0
    <if test="dto.startDate != null and dto.startDate != '' and dto.endDate != null and dto.endDate != ''">
      and t1.create_time between #{dto.startDate} and #{dto.endDate}
    </if>
    <if test="dto.customerName != null and dto.customerName != ''">
      and t2.name like concat('%',#{dto.customerName},'%')
    </if>
    <if test="dto.speakTime !=null  and dto.speakTime != '' ">
      and t1.speak_time=#{dto.speakTime,jdbcType=INTEGER}
    </if>
    <if test="dto.contactName!= null and dto.contactName != ''">
      and t1.name =#{dto.contactName}
    </if>
    <if test="dto.customerId != null">
      and t1.customer_id =#{dto.customerId}
    </if>
    <if test="userIds != null and userIds.size() != 0">
      and t1.user_id in
      <foreach close=")" collection="userIds" index="index" item="item" open="(" separator=",">
        #{item,jdbcType=INTEGER}
      </foreach>
    </if>
    order by t1.create_time desc
  </select>

  <select id="list" resultType="com.bibe.crm.entity.vo.ProgressVO">
    SELECT t1.id AS id, t1.name AS contactName,t1.contact_id as contactId, t2.name AS customerName,t3.name AS userName,t1.contact_type AS contactType,t1.create_time AS progressTime,
    t1.speak_time AS speakTime,t1.remarks AS remarks, t1.satisfied AS satisfied,t1.user_id AS userId,t2.group_id AS groupId,t2.customer_type AS customerType
    FROM customer_progress t1
    LEFT JOIN customer t2 ON t1.customer_id=t2.id
    LEFT JOIN users t3 ON t1.user_id=t3.id  where t2.status=0
    and t1.customer_id=#{customerId}
    order by t1.create_time desc
  </select>

<!--auto generated by MybatisCodeHelper on 2020-09-30-->
  <delete id="deleteByCustomerIdIn">
        delete from customer_progress
        where customer_id in
        <foreach item="item" index="index" collection="customerIdCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>

</mapper>