<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bibe.crm.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.bibe.crm.entity.po.Department">
    <!--@mbg.generated-->
    <!--@Table department-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, num, `level`, parent_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bibe.crm.entity.po.Department" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into department (`name`, num, `level`, 
      parent_id, create_time, update_time
      )
    values (#{name,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, 
      #{parentId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bibe.crm.entity.po.Department" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bibe.crm.entity.po.Department">
    <!--@mbg.generated-->
    update department
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bibe.crm.entity.po.Department">
    <!--@mbg.generated-->
    update department
    set `name` = #{name,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      `level` = #{level,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectCountByParentId" resultType="java.lang.Integer">
        select count(1)
        from department
        where parent_id=#{parentId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-07-23-->
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from department
    where parent_id=#{parentId,jdbcType=INTEGER}
  </select>

  <select id="tree" resultType="com.bibe.crm.entity.vo.TreeData">
    select   id, `name` as title,  parent_id as pid from department order by num
  </select>


  <select id="treeByIds" resultType="com.bibe.crm.entity.vo.TreeData">
    select   id, `name` as title,  parent_id as pid from department  order by num
  </select>
<!--auto generated by MybatisCodeHelper on 2020-08-02-->
  <select id="findIdByParentId" resultType="java.lang.Integer">
        select id
        from department
        where parent_id=#{parentId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-08-02-->
  <select id="findIdByParentIdIn" resultType="java.lang.Integer">
    select id
    from department
    where parent_id in
    <foreach item="item" index="index" collection="parentIdCollection"
             open="(" separator="," close=")">
      #{item,jdbcType=INTEGER}
    </foreach>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-08-02-->
  <select id="findAllByIdIn" resultType="com.bibe.crm.entity.vo.TreeData">
        select
    id, `name` as title,  parent_id as pid
        from department
        where id in
        <foreach item="item" index="index" collection="idCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </select>

  <select id="selectAllBYIdIn" resultType="com.bibe.crm.entity.vo.DeptInputVO">
        select
    id, `name` as title,  parent_id as pid
        from department
        where id in
        <foreach item="item" index="index" collection="idCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </select>


  <select id="findBaseDept" resultType="com.bibe.crm.entity.vo.DeptInputVO">
    select id, `name` as title,  parent_id as pid from department
  </select>

  <select id="findBaseDeptById" resultType="com.bibe.crm.entity.vo.DeptInputVO">
    select id, `name` as title,  parent_id as pid from department where id=#{id,jdbcType=INTEGER}
  </select>

  <select id="treeById" resultType="com.bibe.crm.entity.vo.TreeData">
    select   id, `name` as title,  parent_id as pid from department where id=#{id}  order by num
  </select>

</mapper>