<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bibe.crm.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.bibe.crm.entity.po.Permission">
    <!--@mbg.generated-->
    <!--@Table permission-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `path`, `status`, `type`, parent_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bibe.crm.entity.po.Permission" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into permission (`name`, `path`, `status`, 
      `type`, parent_id, create_time, 
      update_time)
    values (#{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bibe.crm.entity.po.Permission" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="path != null">
        `path`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bibe.crm.entity.po.Permission">
    <!--@mbg.generated-->
    update permission
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bibe.crm.entity.po.Permission">
    <!--@mbg.generated-->
    update permission
    set `name` = #{name,jdbcType=VARCHAR},
      `path` = #{path,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAllByParentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from permission
    where parent_id=#{parentId,jdbcType=INTEGER}
    and  `type` = #{type,jdbcType=INTEGER}
    and `status` =0
  </select>


<!--auto generated by MybatisCodeHelper on 2020-07-22-->
  <select id="selectPath" resultType="java.lang.String">
    select `path`
    from permission where `type`= 1  and path is not null
  </select>

<!--auto generated by MybatisCodeHelper on 2020-07-25-->

    <select id="selectPermissionByRose" resultMap="BaseResultMap">
 select t1.id,t1.name,t1.`type`,t1.parent_id  from   permission   t1 left join   roles_permission_relation t2 on t1.id=t2.permission_id
 where t1.`type`= #{type} and t2.role_id=#{roleId}  and t1.parent_id=#{parentId,jdbcType=INTEGER}
  </select>

  <select id="loadPermission" resultMap="BaseResultMap">
    select t1.id,t1.name,t1.`type`,t1.parent_id  from   permission   t1 left join   roles_permission_relation t2 on t1.id=t2.permission_id
    where t2.role_id=#{roleId} and  t2.status=0
  </select>

  <select id="loadAdminPermission" resultMap="BaseResultMap">
 select t1.id,t1.name,t1.`type`,t1.parent_id  from   permission   t1
  </select>

<!--auto generated by MybatisCodeHelper on 2020-07-29-->
  <update id="updateStatusByParentId">
    update permission
    set `status`=#{updatedStatus,jdbcType=INTEGER}
    where parent_id=#{parentId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-07-29-->
  <update id="updateStatusById">
    update permission
    set `status`=#{updatedStatus,jdbcType=INTEGER}
    where id=#{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-07-30-->
  <select id="getIds" resultType="java.lang.Integer">
        select id from permission where parent_id=#{parentId,jdbcType=INTEGER}
    </select>

</mapper>