<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bibe.crm.dao.RolesPermissionRelationMapper">
  <resultMap id="BaseResultMap" type="com.bibe.crm.entity.po.RolesPermissionRelation">
    <!--@mbg.generated-->
    <!--@Table roles_permission_relation-->
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_id, permission_id
  </sql>
  <insert id="insert" parameterType="com.bibe.crm.entity.po.RolesPermissionRelation">
    <!--@mbg.generated-->
    insert into roles_permission_relation (role_id, permission_id)
    values (#{roleId,jdbcType=INTEGER}, #{permissionId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bibe.crm.entity.po.RolesPermissionRelation">
    <!--@mbg.generated-->
    insert into roles_permission_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="getRolePrimary" parameterType="java.lang.Integer" resultType="java.lang.String">
    select  t2.path  from roles_permission_relation t1  left join permission t2 on t1.permission_id=t2.id where t1.role_id=#{roleId}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-07-25-->
  <insert id="insertList">
        INSERT INTO roles_permission_relation(
        role_id,
        permission_id,
        )VALUES
        <foreach collection="list" index="index" item="element" separator=",">
            (
            #{element.roleId,jdbcType=INTEGER},
            #{element.permissionId,jdbcType=INTEGER},
            )
        </foreach>
    </insert>

<!--auto generated by MybatisCodeHelper on 2020-07-25-->
  <delete id="deleteByRoleId">
        delete from roles_permission_relation
        where role_id=#{roleId,jdbcType=INTEGER}
    </delete>
</mapper>